.border{
	border-top: solid #fff 2px;
	margin-top: 5%;
}
.white-text{
	color: #fff;
	text-align: justify;
}
.transparent{
	background-color: rgb(54,54,102);
	padding: 2em;
	font-size: 18px;
}
.margin-bottom{
	margin-bottom: 0px;
}
.contact-us{
	background-color: rgb(219,44,49);
	box-shadow: 20px 20px 5px black;
	width: 60%;
	padding: 5px;
	margin: 5% auto;
}
.contact-info{
	font-size: 18px;
	padding-top: 3%;
}