#carousel-section{
	margin: 10% auto 5% auto;
}

.carousel{
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.7);
	flex-wrap: wrap;
}
.carousel-indicators{
	top: 97% !important;
}

.carousel-indicators li{
	background-color: #ffffff !important; 
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.7);
	margin: 5% !important;
}

.carousel-indicators li.active{
	background-color: #fe2020 !important; 
}

.create-an-event-button:hover{
	background-color:rgba(196,88,96,0.6);
}

@media screen and (max-width: 542px) {
	.find-search{
		flex-direction: column;
		margin-top: -100px;
	}


}