.form{
	background: url(../images/form/form_backgroundN.jpg) no-repeat center ; 
	background-size: 50% 100%;
	margin-top: 15%;
}
.label{
	color: #fff;
	font-size: 20px !important; 
}
.input{
	border-radius: 10px;
}
.button{
	border-radius: 10px;
	width: 40%;
	background-color:rgba(219,44,49,0.5);
	color: #fff;
}