.navbar{
	max-width: 100%;
}
.navbar-inverse{
	background-color: rgb(34,34,71) !important;
}
.banner{
	height: 52px;
	background-color: rgb(23,23,56);
	padding: 0;
}
.logo{
	cursor: pointer;
	position: absolute;	
	left: 30%;
	top:0;
	z-index:0;
}
.language{
	margin-right: 10%;
	margin-top: 15px;
	color: #968D8E;
	display: flex;
	justify-content: flex-end;
}	
.language a:hover{
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.7);
}
.middle{
	margin-top:2px;
}
.search-event{
	background-color: rgba(0,0,0,0.7);
	height: 2em;
	font-size: 20px;
	padding: 10px;
	border: none;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	max-width: 100%;
}
.create-an-event-button{
	background-color:rgba(206,53,64,0.7);
	height: 2em;
	font-size: 20px;
	color:#ffffff;
	width: 200px;
	box-shadow: 8px 5px rgba(0,0,0,0.7);
	border:none;
	max-width: 80%;
	font-family: 'Roboto', sans-serif;
}
.create-an-event-button:hover{
	background-color: rgba(240,105,115,0.7);
}

/*glyphicon-search*/
.nav li { 
	font-size: 20px;
	margin-right: 20px;
	color: red ;
}

.navbar-toggle {
	color: rgba(225,225,225,0.7);
}

.hover{
	color: #fff !important;
	text-decoration: none;
}

.hover:hover, .hover:active{
	background-color: rgba(94,71,72,0.7) !important;
}

.hover-sub {
	background-color: rgba(209,197,197,0.5) !important;
}

.hover-child:hover{
	background-color: rgba(148,115,118,0.7) !important
}

@media screen and (max-width: 1260px) {
	.nav li, .create-an-event-button, .search-event{
		font-size: 13px !important;
	}

	.nav li{
		margin-right: -5px !important;
	}

	.center{
		margin-top: 0.5em !important;
		margin-left: 0 !important;
	}
}
