.navbar-inverse{
	background-color: rgb(34,34,71) !important;
}
.banner{
	height: 52px;
	background-color: rgb(23,23,56);
	padding: 0;
}
.logo{
	cursor: pointer;
	position: absolute;	
	left: 30%;
	top:0;
	z-index:0;
	height: auto;
	width: 12vw;
}
.language{
	margin-right: 10%;
	margin-top: 15px;
	color: #968D8E;
	display: flex;
	justify-content: flex-end;
}	
.language a:hover{
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.7);
}
.create-an-event-button{
	background-color: rgba(236,46,48,0.5) !important;
	box-shadow: 5px 5px black !important;
	color: #000 !important;
	font-weight:bold !important;
	font-size: 15px !important; 
 	animation: blinking 2s linear infinite !important;
}
@keyframes blinking{
	from{
		background-color:rgba(236,46,48,0.5);
		color: #000;
	}
	to{
		background-color: #fff;
		color: rgba(236,46,48,1);
	}
}
.glyphicon-search{
	color: #fff;
}
.btn-customized{
	background-color: #000;
	border-color: #ccc !important;
}
/*glyphicon-search*/
.nav li { 
	font-size: 20px;
	margin-right: 20px;
	color: rgba(236,46,48,0.5);
}
.navbar-toggle {
	color: rgba(225,225,225,0.7);
}

/*navbar-right*/
a.hover{
	color: #fff !important;
	text-decoration: none;
}
a.hover:hover{
	background-color: rgba(94,71,72,0.7) !important;
}
ul.nav li ul.dropdown-menu{
	background: #666;
}

/* menu items animation */
li.menu-1{
	opacity: 0;
	animation: item-twist 300ms ease-in-out forwards;
}
li.menu-2{
	opacity: 0;
	animation: item-twist 600ms ease-in-out forwards;
}
li.menu-3{
	opacity: 0;
	animation: item-twist 900ms ease-in-out forwards;
}
li.menu-4{
	opacity: 0;
	animation: item-twist 1200ms ease-in-out forwards;
}

@keyframes item-twist{
	0%{
		opacity:0;
		transform: rotateY(-90deg) translateY(30px);
	}
	100%{
		opacity: 1;
		transform: rotateY(0deg) translateY(0px);
	}
}

//responsive adjustment
@media screen and (max-width: 1260px) {
	.nav li, .create-an-event-button, .search-event{
		font-size: 13px !important;
	}

	.nav li{
		margin-right: -5px !important;
	}

	.center{
		margin-top: 0.5em !important;
		margin-left: 0 !important;
	}
}